body{
    font-family: 'Source Sans Pro', sans-serif;
}

/***Navbar ***/

.nav-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}

.dropdowm-item{
    font-size: 14px;
    text-transform: uppercase;
}

.my_footer{
    background-color: currentColor;
    height: 60px;
}

.my_footer p{
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
    color: white;
}
/***Category***/
.my_row{
    padding-top: 5px;
}

.my_row .mx-auto{
    color: black;
    font-size: 25px;

}

.my_image{
    height:220px;
    width:auto;
}

.my_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.my_bottom_margin{
    margin-bottom: 10px;
}
.card-body h4{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

/***Product***/

.my_product_row{
    padding-top: 15px;
    padding-bottom: 20px;
}
.my_product_row .mx-auto{
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.my_product_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}
.my_product_text{
    padding-right: 20px;

}
/*** Search***/

.mysearch_text{
    padding-top: 20px;
}

/***Cart***/
.my_custom_table{
    min-width: 400px;
    font-size: 14px;
}

.my_custom_thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.custom_a{
    text-decoration: none;
}

.custom_icon{
    text-decoration: none;
}

.my_custom_button{
    margin-top: 5px;
}