{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        {{product.description|truncatewords:150}}
{% endblock %}
{% block title %}
    {% if category %}
        {{product.name}}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row my_product_row">
    <div class="mx_auto">
        <p><a href="{% url 'shopapp:Allprocat' %}">Home</a>|<a href="{{product.category.get_url}}">{{product.category}}</a>{{product.name}}</p>
    </div>
</div>
<div class="container"></div>
    <br>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div>
                <img src="{{product.image.url}}" alt="{{product.name}}" style="width: auto;margin-bottom: 20px;height: 335px;margin-top: 0px;">
            </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
                <h1 class="my_product_title">{{product.name}}</h1>
                <p>Rs {{product.price}}</p>
                <p class="my_description">Product Description</p>
                <p class="text-justify my_product_text">{{product.description}}</p>
                {% if product.stock <= 0 %}
                <p class="text-justify"><b>Out of Stock</b></p>
                {% else %}
                <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}" style="margin-bottom: 30px;">Add to Cart</a>
                {% endif %}
            </div>
        </div>
        
    </div>
</div>
{% endblock%}