{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock %}
{% block content %}
<section class="search">
    <div class="container-fluid">
        <div class="container">
            <h1 class="text-center mt-4">You have searched for {{s}}</h1>
            <div class="row">
                {% for i in p %}
                <div class="col-md-4 mt-4 mb-4">
                    <div class="card shadow mb-5" style="width: 19rem;height: 23rem;background-color: #5c6d7e;">
                        <img src="{{i.image.url}}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                            <a href="{% url 'shop:prodetail' i.slug %}" class="btn btn-secondary shadow">Details</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div>
                    <h1 class="text-center mt-3">0 result found</h1>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}